body {
    background-color: rgb(41, 50, 71);
    overflow-y: hidden;

}

p {
    color: bisque;
    font-size: 40px;
    text-align: center;
    margin: 10px;
}

.info {
    margin-top: 30px;
    min-height: 47px;
}


#score {
    display:flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s;
    margin-top: 250px;
    opacity: 0;
}


.score2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
    opacity: 0;
}

.choices {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    opacity: 1;
}

button.start {
    opacity: 0;
}

.start {
    margin-top: 30px;
}

button {
    font-size: 30px;
    background-color: rgb(255, 228, 196);
    border-radius: 10px;
    padding: 30px;
    font-size: 50px;
    transition: box-shadow 0.1s;
}

button:hover {
    background-color: rgb(255, 245, 236);
}

button:active {
    box-shadow: 0px 0px 5px 3px rgb(233, 193, 167);
    background-color: white;

}

.nudge {
    transition: transform 0.3s ease-in-out;
}

.nudge-animation {
    animation: nudgeAnimation 0.6s ease-in-out infinite;
}

@keyframes nudgeAnimation {
    0% {
        transform: translateX(-4px);
    }

    20% {
        transform: translateX(4px);
    }

    40% {
        transform: translateX(-4px);
    }

    60% {
        transform: translateX(4px);
    }

    80% {
        transform: translateX(-4px);
    }

    100% {
        transform: translateX(0);
    }
}

.blink {
    transition: transform 0.1s;
}

#blink {
    transition: transform 0.1s, opacity 0.2s;
}

.blink-animation {
    animation: blinkAnimation 0.1s ease;
    animation-fill-mode: forwards;
}

.blink-animationReverse {
    animation: blinkAnimationReverse 0.1s ease;
    animation-fill-mode: forwards;
}


@keyframes blinkAnimation {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-500px);
        opacity: 0%;

    }
}

@keyframes blinkAnimationReverse {
    0% {
        transform: translateY(-500px);
    }

    100% {
        transform: translateY(0px);
        opacity: 100%;

    }
}

.flashred {
    animation-name: flashred-animation;
    animation-duration: 130ms;
}

@keyframes flashred-animation {  
    from { background: white;; }
    to   { background: rgba(255, 0, 0, 1); }
}

.flashgreen {
    animation-name: flashgreen-animation;
    animation-duration: 130ms;
}

@keyframes flashgreen-animation {  
    from { background: white;; }
    to   { background: rgba(12, 160, 74, 1); }
}

.flashblue {
    animation-name: flashblue-animation;
    animation-duration: 130ms;
}

@keyframes flashblue-animation {  
    from { background: white;; }
    to   { background: rgba(0, 89, 255, 1); }
}

.flashgrey {
    animation-name: flashgrey-animation;
    animation-duration: 130ms;
}

@keyframes flashgrey-animation {  
    from { background: white;; }
    to   { background: rgba(126, 126, 126, 1); }
}
